.df_jc_ac {
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout {
}

.main {
  height: calc(100vh - 63px);
  width: 100%;
}

.searchContainer {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 5px;

  @media screen and (max-width: 1200px) {
    width: 70%;
  }

  @media screen and (max-width: 600px) {
    width: 90%;
  }
}
