.resultContainer {
  width: 100%;
  max-height: 500px;
  overflow-y: scroll;
  transition: 0.3s all;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgb(200, 200, 200);
    border-radius: 5px;
  }
}

.listItems {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 5px 0px 5px 5px;
  cursor: pointer;
  transition: 0.3s height;
  border-radius: 5px;
  p {
    margin: 0px;
  }
}

.listItems_hv_white {
  &:hover {
    background-color: rgb(220, 220, 220);
  }
}

.listItems_hv_dark {
  &:hover {
    background-color: rgb(40, 40, 40);
  }
}

.listSubInfo {
  display: flex;
  small {
    margin-right: 5px;
    padding: 2px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.bullets {
  display: flex;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 20px;
  small {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
