.resultContainer {
  width: 100%;
  max-height: 500px;
  overflow-y: scroll;
  border-top: 1px solid rgb(220, 220, 220);
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgb(200, 200, 200);
    border-radius: 5px;
  }
}

.listItems {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 5px 0px 5px 5px;
  cursor: pointer;
  transition: 0.3s background-color;
  border-radius: 5px;
  &:hover {
    background-color: rgb(220, 220, 220);
  }
  p {
    margin: 0px;
  }
}

.listSubInfo {
  small {
    margin-right: 5px;
    padding: 2px;
    border-radius: 5px;
  }
}

.bullets {
  display: flex;
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
